<div>
  <form [formGroup]="formularioBusqueda">
    <mat-form-field appearance="outline">
      <mat-label>Buscar Producto</mat-label>
      <input 
        matInput 
        formControlName="termino" 
        type="text" 
        placeholder="Nombre o categoría del producto"
        [ngClass]="{'input-error': formularioBusqueda.get('termino')?.invalid && formularioBusqueda.get('termino')?.touched}"
        autocomplete="on">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="buscarProducto()">Buscar</button>
    </form>
  <div class="error-message" *ngIf="formularioBusqueda.get('termino')?.invalid && formularioBusqueda.get('termino')?.touched">
    Ingrese una palabra válida 
  </div>

  <div class="product-list">  
    <div *ngIf="productosFiltrados.length > 0" class="product-list">
      <h3>Productos encontrados:</h3><br>
      <div *ngFor="let product of productosFiltrados" class="product-card">
        <app-product-card
          [id]="product.id" 
          [title]="product.title"
          [description]="product.description"
          [price]="product.price"
          [image]="product.image"
          [category]="product.category">
        </app-product-card>
      </div>
    </div>
</div>

  <div *ngIf="productosFiltrados.length === 0 && formularioBusqueda.get('termino')?.value">
    <p>No se encontraron productos.</p>
  </div>
</div>


