.product-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  justify-content: flex-start;
}
.error-message {
  color: red; /* Corregido el nombre de la propiedad */
}
@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 20px); /* En pantallas medianas, las tarjetas ocupan el 50% del espacio */
  }
}

@media (max-width: 480px) {
  .product-card {
    width: calc(100% - 20px); /* En pantallas pequeñas, las tarjetas ocupan el 100% del espacio */
  }
}

