<app-busca-producto (buscarEstado)="actualizarEstadoBusqueda($event)"></app-busca-producto>
<hr>
<app-carrito-compra></app-carrito-compra>
<hr>
<!-- Ocultar el listado de productos cuando se esté buscando -->

  <div class="product-list">  
    <div *ngFor="let product of products " class="product-card">
        <app-product-card
        [id]="product.id" 
        [title]="product.title"
        [description]="product.description"
        [price]="product.price"
        [image]="product.image"
        [category]="product.category"
        >
        </app-product-card>
    </div>  
</div>

